* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    font-family: 'Orbitron', sans-serif;
    color: #C5C6C7;
    background-color: #0B0C10;
}


nav {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: rgba(15, 15, 15, 0.95);
    box-shadow: 0 0 10px #45A29E;
    backdrop-filter: blur(10px);
}

nav .logo {
    width: 60px;
    height: 60px;
    background: url("logo.jpg") no-repeat center center;
    background-size: contain;
    border-radius: 60%;
    box-shadow: 0 0 18px #45A29E;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #16476A;
    transition: font-size 0.3s ease-out;
}

nav ul li a:hover {
    background-color: #45A29E;
    color: #0B0C10;
    box-shadow: 0 0 15px #45A29E, 0 0 30px #66FCF1;
    font-size: 1.1rem;

}

section {
    padding: 60px;
    margin: 40px 10px;
    background-color: #1F2833;
    border: 1px solid #45A29E;
    border-radius: 12px;
    box-shadow: 0 0 10px #45A29E20 inset;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #66FCF1;
    background-color: #16202B;
}


footer {
    background-color: #0B0C10;
    color: #C5C6C7;
    text-align: center;
    font-weight: 600;
    padding: 15px;
}

h1,
h2,
h3 {
    color: #66FCF1;
    text-shadow: 0 0 5px #66FCF1, 0 0 10px #45A29E;
}

p {
    line-height: 1.6;
    font-size: 1rem;
    color: #C5C6C7;
}